build/*
config.ini
Collection.json
CollectionsList.json
.directory
easydb_urls.egg-info/**
easydb_urls*.egg
searchResult.json
easydb_urls/__pycache__/**
easydb_urls/lib/__pycache__/**
.idea
**/__pycache__/*
search.json
searchResult.txt
.tox/*
venv
production.ini
development.ini




